
@mixin container() {
  box-sizing: border-box;
  position: relative;
  max-width: 900px;
  padding: 20px 0 0 12px;
  margin-left: 2px;
  margin-right: 16px;

  display: flex;

  color: #d2cee0;
  font-family: Arial;
  //font-size: 14px;
  //&:before {
  //  position: absolute;
  //  content: '';
  //  background-color: #fbf7ff;
  //  border-radius: 8px;
  //  width: 4px;
  //  height: 100%;
  //  left: 0px;
  //
  //}

}