.app-wrapper {
  /*height: 100vh;*/
  position: relative;
  display: grid;
  /*height: auto;*/
  /*min-height: 1000px;*/
  margin: 0 auto;

  grid-template-areas:
"h h h"
"n c v";
  grid-template-rows: 54px 1fr;
  grid-template-columns: 1.6fr 10fr 1.2fr;
  grid-gap: 0px;
}

.app-wrapper-content {
  position: relative;
  min-height: 100vh;
  grid-area: c;
  /*height: 100%;*/
  /*background-color: rgba(34, 34, 34, .97);*/
  /*background-color: #fbf7ff;*/
  background-color: rgba(36, 31, 37, 1);
}

.rigth-content {
  position: relative;
  grid-area: v;
  background-color: rgba(91, 41, 166, 1);
}