
.commonButton {
  text-decoration: none;
  padding: 2px 8px;
  width: 80px;
  height: 30px;
  color: white;
  border: none;
  font-family: "Arial Black" ;
  font-size: 12px;
  font-weight: 300;
  border-radius: 2px;
  background: rgba(61, 27, 112, .62);
  &:hover {
    color: #251147;
    background-color: #fbf7ff;
    border: 2px solid rgba(61, 27, 112, .62);
  }

}